:root {
  --alto: #d9d9da;
  --blueberry: #4e6ffc;
  --blueberry-2: #4e6ffce8;
  --dove-gray: #707070;
  --ebony-clay: #212340;
  --iron: #d4d4d5;
  --royal-blue: #3e5bd6;
  --scarpa-flow: #555558;
  --unmellow-yellow: #002dec;
  --white: #ffffff;

  --font-size-l: 17px;
  --font-size-m: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 22px;
  --font-size-xxxl: 26px;
  --font-size-xxxxl: 28px;
  --font-size-xxxxxl: 35px;

  --font-family-inter: "Inter", Helvetica;
  --font-family-segoeui-black: "SegoeUI-Black", Helvetica;
  --font-family-tahoma: "Tahoma", Helvetica;
  --font-family-tahoma-bold: "Tahoma-Bold", Helvetica;
  --font-family-tahoma-regular: "Tahoma-Regular", Helvetica;
}
.tahoma-regular-normal-un-mellow-yellow-22px {
  color: var(--unmellow-yellow);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-scarpa-flow-16px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-dove-gray-16px {
  color: var(--dove-gray);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tahoma-normal-blueberry-16px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma);
  font-size: var(--font-size-m);
}

.tahoma-regular-normal-blueberry-16px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tahoma-bold-ebony-clay-35px {
  color: var(--ebony-clay);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-blueberry-35px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-red-22px {
  color: #e21515;
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-dove-gray-17px {
  color: var(--dove-gray);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-blueberry-22px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-blueberry-17px {
  color: var(--blueberry-2);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.border-1-5px-iron {
  border: 2px solid var(--iron);
}

.border-1-5px-dove-gray {
  border: 2px solid var(--dove-gray);
}

.border-1px-alto {
  border: 1px solid var(--alto);
}

.forgotpassword {
  background-color: var(--white);
  height: 1079px;
  overflow: hidden;
  position: relative;
  width: 1920px;
  opacity: 0;
  filter: blur(10px);
}

.forgotpassword.animate-enter4 {
  animation: animate-enter4-frames 0.2s ease-out 0s 1 normal forwards;
  opacity: 0;
  filter: blur(10px);
}

.overlap-group4-2 {
  height: 1051px;
  left: -440px;
  position: absolute;
  top: 0;
  width: 2800px;
}

.path-4606-3 {
  height: 972px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 1275px;
}

.overlap-group2-4 {
  height: 878px;
  left: 1077px;
  position: absolute;
  top: 123px;
  width: 760px;
}

.form-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 878px;
  padding: 15px 133px;
  position: absolute;
  top: 0;
  width: 760px;
}

.agile-sprite-4 {
  height: 159px;
  margin-right: 2px;
  object-fit: cover;
  width: 162px;
}

.account-recovery {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 1px;
  margin-top: 46px;
  min-height: 44px;
  min-width: 307px;
  white-space: nowrap;
}

.signup-btn-2 {
  align-self: flex-start;
  background-color: var(--blueberry);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  margin-top: 31px;
  pointer-events: auto;
  transition: all 0.15s ease-in-out;
  width: 492px;
}

.signup-btn-2:hover {
  transform: scale(0.9);
}

.overlap-group-17 {
  border-radius: 4px;
  height: 50px;
  position: relative;
}

.hover-2 {
  background-color: var(--royal-blue);
  border-radius: 4px;
  height: 50px;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 492px;
}

.hover-2:hover {
  opacity: 1;
}

.confirm {
  left: 215px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.text-9 {
  -webkit-text-stroke: 1px var(--dove-gray);
  left: 300px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 321px;
  white-space: nowrap;
}

.overlap-group3-3 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2800px;
}

.menu-4 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 2055px;
  min-width: 222px;
  position: absolute;
  top: 35px;
}

.login-6 {
  cursor: pointer;
  display: flex;
  height: 31px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 68px;
}

.login-6:hover {
  transform: scale(1.1);
}

.signup-5 {
  cursor: pointer;
  display: flex;
  height: 31px;
  margin-left: 80px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 74px;
}

.signup-5:hover {
  transform: scale(1.1);
}

.text-10 {
  cursor: pointer;
  left: 474px;
  letter-spacing: 0;
  line-height: 35px;
  pointer-events: auto;
  position: absolute;
  top: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.text-10:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.path-4643-3 {
  height: 424px;
  left: 1688px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 390px;
}

@keyframes animate-enter4-frames {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: none;
  }
}
