:root {
  --alto: #d9d9da;
  --blueberry: #4e6ffc;
  --blueberry-2: #4e6ffce8;
  --dove-gray: #707070;
  --ebony-clay: #212340;
  --iron: #d4d4d5;
  --royal-blue: #3e5bd6;
  --scarpa-flow: #555558;
  --unmellow-yellow: #002dec;
  --white: #ffffff;

  --font-size-l: 17px;
  --font-size-m: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 22px;
  --font-size-xxxl: 26px;
  --font-size-xxxxl: 28px;
  --font-size-xxxxxl: 35px;

  --font-family-inter: "Inter", Helvetica;
  --font-family-segoeui-black: "SegoeUI-Black", Helvetica;
  --font-family-tahoma: "Tahoma", Helvetica;
  --font-family-tahoma-bold: "Tahoma-Bold", Helvetica;
  --font-family-tahoma-regular: "Tahoma-Regular", Helvetica;
}
.tahoma-regular-normal-un-mellow-yellow-22px {
  color: var(--unmellow-yellow);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-scarpa-flow-16px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-dove-gray-16px {
  color: var(--dove-gray);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tahoma-normal-blueberry-16px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma);
  font-size: var(--font-size-m);
}

.tahoma-regular-normal-blueberry-16px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tahoma-bold-ebony-clay-35px {
  color: var(--ebony-clay);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-blueberry-35px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-red-22px {
  color: #e21515;
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-dove-gray-17px {
  color: var(--dove-gray);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-blueberry-22px {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tahoma-regular-normal-blueberry-17px {
  color: var(--blueberry-2);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.border-1-5px-iron {
  border: 2px solid var(--iron);
}

.border-1-5px-dove-gray {
  border: 2px solid var(--dove-gray);
}

.border-1px-alto {
  border: 1px solid var(--alto);
}

.not-found-page {
  background-color: var(--white);
  height: 1079px;
  overflow: hidden;
  position: relative;
  width: 1920px;
  opacity: 0;
  filter: blur(10px);
}

.not-found-page.animate-enter {
  animation: animate-enter-frames 0.2s ease-out 0s 1 normal forwards;
  opacity: 0;
  filter: blur(10px);
}

.overlap-group2 {
  height: 1051px;
  left: -440px;
  position: absolute;
  top: 0;
  width: 2800px;
}

.path-4606 {
  height: 972px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 1275px;
}

.x404-nf {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 1249px;
  min-height: 554px;
  position: absolute;
  top: 158px;
  width: 403px;
}

.agile-sprite {
  cursor: pointer;
  height: 159px;
  margin-right: 26px;
  object-fit: cover;
  width: 162px;
}

.address {
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 25px;
  margin-top: 38px;
  min-height: 44px;
  min-width: 291px;
  text-shadow: 0px 8px 6px #00000082;
  white-space: nowrap;
}

.text-1 {
  -webkit-text-stroke: 1px var(--dove-gray);
  letter-spacing: 0.1px;
  line-height: 22px;
  margin-top: 56px;
  min-height: 23px;
  min-width: 403px;
  white-space: nowrap;
}

.back-to-home-page {
  color: #3f59c4;
  cursor: pointer;
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0.16px;
  line-height: 22px;
  margin-right: 23px;
  margin-top: 210px;
  min-height: 29px;
  min-width: 215px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.back-to-home-page:hover {
  transform: scale(1.1);
}

.overlap-group1 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2800px;
}

.menu {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 2055px;
  min-width: 222px;
  position: absolute;
  top: 35px;
}

.login {
  cursor: pointer;
  display: flex;
  height: 31px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 68px;
}

.login:hover {
  transform: scale(1.1);
}

.signup {
  display: flex;
  height: 31px;
  margin-left: 80px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 74px;
}

.signup:hover {
  transform: scale(1.1);
}

.group-143614 {
  cursor: pointer;
  flex: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 76px;
}

.group-143614:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.overlap-group {
  height: 29px;
  position: relative;
  top: 2px;
}

.path-4599 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 68px;
}

.sign-up {
  left: 0;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.text-2 {
  cursor: pointer;
  left: 474px;
  letter-spacing: 0;
  line-height: 35px;
  pointer-events: auto;
  position: absolute;
  top: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.text-2:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.path-4643 {
  height: 424px;
  left: 1688px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 390px;
}

@keyframes animate-enter-frames {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: none;
  }
}
